# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Native builds
/ios
/android

# EAS
.eas/
src/data/transit.json.backup-*
